@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap');
*{ margin: 0; padding: 0; box-sizing: border-box;}
a{outline: 0; text-decoration: none;}
ol,li,ul{ list-style:none;}
body,html{background: var(--background-color); color: var(--primary-color); font-family:var(--primary-font);}


:root{
    --background-color:#faeddf;
    --content-color:#f0deca;
    --primary-color:#7A5932;
    --hover-color:#198597;
    --about-color:#198597;
    --portfolio-color:#f8a577;
    --aboutSub-color:#fcf7f1;
    --skill-color:#fff48f;
    --primary-font:'Montserrat', sans-serif;
    --second-font:'Poppins', sans-serif;
    
}
/* header */


#header { 
    width: 130px; height: 100%;
    position: fixed; left:0; top:0; display: flex; 
    align-items: flex-end; flex-direction: column;
    padding:15px;; z-index: 20; background:var(--background-color);
}
#header .toggle{
    display:block;width:31px; height:22px;
     position:relative; margin-bottom: 50px;
     z-index: 20;
     top:15px; left:-25px; transform: translateY(-50%);
}

#header .toggle::before{ 
    content:''; display:block; width:90%; height:3px; 
    background:var(--primary-color); position:absolute; top:0; left:0;
    transition:all 0.5s ease-in;
    

}
#header .toggle::after{ 
    content:''; display:block; width:100%; height:3px; 
    background:var(--primary-color); position:absolute; bottom:0; left:0;
    transition:all 0.5s ease-in;
}
#header .toggle:hover::before{
    width: 100%;
}


#header .toggle span{
    display:block; width:60%; height:3px; background:var(--primary-color);
    position:absolute; top:50%; left:0; transform: translateY(-1.5px); transition:all 0.5s ease-in;
    
}
#header .toggle:hover span{
    width: 100%;
}
#header .toggle.on::before{
    transform:rotate(45deg); top:calc(50% - 1.5px);
    width: 100%;
}
#header .toggle.on::after{
    transform:rotate(-45deg); bottom:calc(50% - 1.5px); 
    width: 100%;
}
#header .toggle.on span{
     opacity:0; 
}

#header h1{
    writing-mode: vertical-rl; 
    text-orientation: mixed;
    transform: rotate(180deg);
    font-size: 1.3rem; 
    font-weight: 800;
    letter-spacing: 4px;
    position: absolute;
    right:40px; top:15%;
    font-family: var(--second-font);

}
#header > ul{
    position: absolute;top:40%; right:-5px;
}


#header > ul li{
    margin:50px;
}
#header > ul li a{
    font-size: 18px;
    color: var(--primary-color);
}
#header .nav{
    width: 100%;padding: 20px;
    position: fixed; 
    transition: all 1s;
    top:-30px; left:0; transform: translateY(-50%);
    background: var(--background-color);
    
   
}

#header .nav.on{
    top:25px; left:0px;
    transform: translateY(-50%);
}
#header .nav #gnb{
   display: flex;
   justify-content: center;
    
}
#header .nav #gnb li{
    margin:0 50px;
}
#header .nav #gnb a{
    color: var(--primary-color);
    font-weight: 800; font-family: var(--primary-font);
}
#header .nav #gnb a:hover{
    color:var(--hover-color);
}

/* contents */
#contents{
    width: 100%; margin-top: 60px;
    background: var(--background-color); 
    
}
#contents .inner{
    width: 1180px; margin:0 auto; 
    display: flex;
}
#contents .inner > .content-img{
    width: 33.9%; height: 800px;
    
   
}
#contents .inner > .content-img img{
    width: 100%;height: 100%; object-fit: cover;
}
#contents .inner >.txtBox{
    width: 66.1%; height: 800px;
    background: var(--content-color);
    display: flex; justify-content: center;
    flex-direction: column;
    padding:0 50px;
    
}
#contents .inner .txtBox h2{
    
    font-size: 100px;
    font-weight: 200;
    line-height: 94px;
    letter-spacing: -4px;
    max-width: 500px;
    margin-bottom: 30px;
    margin-left: 20px;
}
#contents .inner .txtBox p{
    font-size: 80px; letter-spacing: 7px;
    max-width: 300px; line-height: 60px;
    font-weight: 300; margin-left: 250px;
    margin-bottom: 30px;
}
#contents .inner .txtBox span{
    font-size: 70px; letter-spacing: 7px;
    width: 100%;line-height: 60px;
    font-weight: 300; margin-left: 140px;
   

}
/* about */
#about {width: 100%;}
#about .inner{
    width: 1180px; 
    margin:0 auto; display: flex; 
}
#about .inner .about-main{
    width: 33.9%; height: 350px; 
    background: var(--about-color);
    display: flex; justify-content: center;
    align-items: center;
    
    
}
#about .inner .about-main h1{
    font-size: 54px; margin-top: -20px;
    color: var(--aboutSub-color);
    font-weight: 300; letter-spacing: -5px;
}
#about .inner .about-text{
   width: 66.1%; height: 700px; 
   background: var(--aboutSub-color);
   position: relative;
   text-align: center;
   padding:120px 0px; 
  
}
#about .inner .about-text >h2{
    font-size: 20px; font-weight: 800;
    max-width: 600px; letter-spacing: 1px;
    margin:0 auto; margin-bottom: 40px;
    
    
}
#about .inner .about-text p{
    max-width: 600px; margin:0 auto;
    line-height: 40px;
}
#about .inner .about-text p a{
    color: peru;
}
/* portfolio */
#portfolio{width: 100%;}
#portfolio .inner{width: 1180px; margin:0 auto; display: grid; grid-template-columns: 1fr 1fr 1fr;}
#portfolio .inner > a{width: 400px; height: 400px; background:pink;}
#portfolio .inner .box1{
    grid-column: 1/3; grid-row:1/2; 
    width: 800px;position: relative; cursor: pointer;overflow: hidden;
}
#portfolio .inner .info img{
    width: 100%;  height: 100%; object-fit: cover;
    background-position: center;
    
}
#portfolio .inner .box2{
    grid-column: 3; grid-row: 1; background:var(--portfolio-color);
    width:380px; height: 350px;
    display: flex;justify-content: center;
    align-items: center;
}
#portfolio .inner .box2 h1{
    font-size: 54px;
    color: var(--aboutSub-color);
    font-weight: 300; letter-spacing: -5px;
    
}
#portfolio .inner .box3{
    grid-column: 1/2; grid-row: 2/4; 
    height: 800px; position: relative;overflow: hidden;
}
#portfolio .inner .box4{
    grid-column: 2/3; grid-row: 2/3; overflow: hidden;
    position: relative;
}
#portfolio .inner .box5{
    grid-column: 2/3; grid-row: 3; position: relative; overflow: hidden;
}

#portfolio .inner .info .box-info{
    
    height: 90px; transform: translateY(90px);  
    background:var(--content-color);position: absolute;
    left:0; bottom:0px;opacity: 0;
    padding:15px 42px; letter-spacing: 0.5px;
    transition: all 0.3s ease-out;
}
#portfolio .inner .info:hover .box-info{
    position:absolute;bottom:0px; left:0;
    opacity:1; height: 90px; transform: translateY(0);
    color: var(--primary-color);
}
#portfolio .inner .info .box-info h3{
    font-size: 28px; font-weight: 800;
    font-family: var(--second-font);
   
}
#portfolio .inner .info .box-info p{
    font-size: 15px; margin-top: -3px;
}
#portfolio .inner .btn{
    width: 100%; grid-column: 1/4; height: 40px;
    font-size: 20px;
    text-align: center;
    background:var(--about-color);
    color: var(--aboutSub-color);
    font-family: var(--second-font);
    line-height: 40px;
    display: block;
}
/* skills */

#skill {width: 100%;}
#skill .inner{
    width: 1180px; 
    margin:0 auto; display: flex; 
}
#skill .inner .skill-box{
    width: 33.9%; height: 350px;
    background: var(--skill-color);
    display: flex; justify-content: center;
    align-items: center; 
    
}
#skill .inner .skill-box h1{
    font-size: 60px; margin-top: -20px;
    color: #9e7e63;
    font-weight: 300; letter-spacing: -5px;
}
#skill .inner .skill-text{
   width: 66.1%; height: 500px; 
   background: var(--aboutSub-color);
   position: relative;
   text-align: center;
   padding:30px 0;
  
}
#skill .inner .skill-text ul {overflow: hidden; }
#skill .inner .skill-text ul li{
    margin: 5px; 
    display: flex; justify-content: center;align-items: center;
}
#skill .inner .skill-text ul li:nth-of-type(2n){
   justify-content: flex-start; margin-left: 25%;
}
#skill .inner .skill-text ul li:nth-of-type(2n + 1){
    justify-content: flex-end; margin-right: 25%;
}
#skill .inner .skill-text ul li >i{
    font-size: 65px; color:var(--portfolio-color);
}
#skill .inner .skill-text ul li span{
    margin-left: 10px; font-size: 20px;
    font-family: var(--first-font);

}
/* experience */
#ex {width: 100%;}
#ex .inner{
    width: 1180px; 
    margin:0 auto; display: flex; 
}
#ex .inner .ex-box{
    width: 33.9%; height: 350px;
    background: var(--about-color);
    display: flex; justify-content: center;
    align-items: center; 
    
}
#ex .inner .ex-box h1{
    font-size: 60px; margin-top: -20px;
    color: var(--aboutSub-color);
    font-weight: 300; letter-spacing: -5px;
    
}

#ex .inner .ex-text{
   width: 66.1%; height: 700px; 
   background: var(--content-color);
   position: relative;
   text-align: center;
   padding:45px 0;
  
}
#ex .inner .ex-text > h2{
    font-size: 20px; font-weight: 800;
    max-width: 600px; 
    margin:0 auto; margin-bottom: 20px;
    
}
#ex .inner .ex-text > p{
    max-width: 600px; margin:0 auto;
    line-height: 35px; margin-bottom: 40px;
}
/* footer */
#footer{width: 100%; }
#footer .inner {width: 1180px; height: 200px;margin: 0 auto; padding:0 0 30px;
display: flex; justify-content: center; align-items: center; flex-direction: column;}
#footer .inner .sns {overflow: hidden; }
#footer .inner .sns li{float: left; margin:30px;}
#footer .inner .sns li a{font-size: 26px; color:var(--primary-color);}


@media screen and (max-width:1179px){
    #header { 
        width: 100%; height: 80px;
        position: fixed; overflow: hidden;
    }
    #header .toggle{
         z-index: 80; padding:12px;
         top:50%; left:-5px; transform: translate(-50%, -50%);
    
    }
   
    #header h1{
        writing-mode:horizontal-tb; 
        text-orientation:upright;
        transform: rotate(0deg);
        position: absolute;
        left:30px; top:50%; transform: translateY(-50%);
    
    }
    #header > ul{
        display: none;
    }
    #header .nav{
        width: 16vw; height: 100%;
        top:-70px;  left:85%;transform: translateY(0%);
        position: fixed;
        opacity: 0; padding: 200px 0px;
    }
    
    #header .nav.on{
        width: 16vw; height: 120%;
        top:-70px;  left:85%;transform: translateY(0%);
         position: fixed;
        opacity: 1; padding: 200px 0px;
    }
    #header .nav #gnb{ flex-direction: column; text-align: center;}
    #header .nav #gnb li{
        margin:30px 0px; 
    }
    #header .nav #gnb li a{
        display: block; width: 100%;
    }
    #contents{margin-top: 0; overflow: hidden;}
    #contents .inner{width: 100%; overflow: hidden;}
    #contents .inner >.txtBox{
        padding:0 20px;
        
    }
    #contents .inner .txtBox h2{
        margin-bottom: 50px;
        font-size: 70px;
    }
    #contents .inner .txtBox p{
        font-size: 60px; 
        font-weight: 300; margin-left: 250px;
        margin-bottom: 50px;

    }
    #contents .inner .txtBox span{
        font-size: 50px; letter-spacing: 7px;
        width: 100%;line-height: 60px;
        font-weight: 300; margin-left: 140px;
       
    
    }
    #about .inner{width: 100%;}
    #portfolio .inner{width: 100%; ;display: flex; flex-wrap: wrap;} 
    #portfolio .inner .box1{
        grid-column: 1/2; grid-row:1/2; 
        width: 100%;position: relative; cursor: pointer;overflow: hidden;
    }
    #portfolio .inner .box2{
        display: none; 
    }

    #portfolio .inner .box3{
        grid-column: 1/2; grid-row: 1/2;
        width: 100%; height: 400px;position: relative;overflow: hidden;
    }
    #portfolio .inner .box4{
        grid-column: 1/2; grid-row: 1/2;
        width: 100%;
       
    }
    #portfolio .inner .box5{
       
         width: 100%;
    }
    #skill .inner{width: 100%;}
    #ex .inner{width: 100%;}
    #footer .inner{width: 100%;}
    

}
@media screen and (max-width:930px){
    #header .nav #gnb li a{ display:block;width: 100%;}
    #contents .inner >.txtBox{
        padding:0 10px;
        
    }
    #contents .inner .txtBox h2{
        margin-bottom: 50px;
        font-size: 70px;
    }
    #contents .inner .txtBox p{
        font-size: 60px; 
        margin-left: 70px;
        margin-bottom: 50px;

    }
    #contents .inner .txtBox span{
        font-size: 50px; 
       margin-left: 20px;
       
    
    }
    #about .inner .about-main{
        display: none;
     }
    #about .inner .about-text{width: 100%;}
    #skill .inner .skill-box{display: none;}
    #skill .inner .skill-text{width: 100%;}
    #ex .inner .ex-box{display: none;}
    #ex .inner .ex-text{width: 100%;}
    #skill .inner .skill-text ul li:nth-of-type(2n){
        margin-left: 17%;
     }
     #skill .inner .skill-text ul li:nth-of-type(2n + 1){
         margin-right: 17%;
     }
}   
@media screen and (max-width:669px){
    #header .toggle{display: none; }
    #header .nav{display: none;}
    #contents .inner .txtBox{display: none;}
    #contents .inner .content-img{width: 100%;}
}